[2020-02-25 23:32] #1022 closed

[2020-02-26 14:37] LukeIreland1 commented on #407
I believe this has been fixed. Tests pass with compiler built using cd371e9.

[2020-02-27 18:55] isuruf opened #1034 "Link to libm only if the platform has a libm"
eg: https://github.com/flang-compiler/f18/blob/7649e5d705b2c87d710525d522a42288030c3bfa/test/Evaluate/CMakeLists.txt#L101

[2020-02-27 18:57] isuruf commented on #971
List of related issues and PRs
- [ ] https://github.com/flang-compiler/f18/issues/1034
- [ ] https://github.com/flang-compiler/f18/issues/1007
- [ ] https://github.com/flang-compiler/f18/pull/1032
- [ ] https://github.com/flang-compiler/f18/pull/1029
- [ ] https://github.com/flang-compiler/f18/pull/1028
- [ ] https://github.com/flang-compiler/f18/pull/1025
- [ ] https://github.com/flang-compiler/f

[2020-02-28 02:30] isuruf opened #1040 "mkstemp and ftruncate not available"
Fails on windows.
[code]

[2020-03-02 11:20] Sameeranjoshi opened #1042 "CMake Error for drone.ci due to target "ZLIB::ZLIB" not found"
The drone.ci build fails for commits done to F18
Log:
https://cloud.drone.io/flang-compiler/f18/1176/1/2

[2020-03-02 13:35] DavidTruby commented on #1042
This also fails for me locally. libLLVMSupport now (correctly) introduces a PUBLIC dependency on the cmake ZLIB targets, since it calls some ZLIB functions.

[2020-03-04 09:50] kiranktp commented on #966
llvm_unreachable will always print the filename and the line number of the problematic location.

llvm_unreachable("..") is a drop in replacement for DIE("..").
so different cases like CRASH_NO_CASE, SWITCH_COVERS_ALL_CASES and CHECK can leverage llvm_unreachable(..) similar to DIE("..).

But Fortran::common::die accepts varargs. This honors the format specifiers. In all the case this function wil

[2020-03-04 16:28] benjaminfaber opened #1048 "Fail to compile parsing.cc with -DCMAKE_BUILD_TYPE=Release"
When I attempt to build a Release version of f18, I encounter the following error, which appears similar to #664.  However, since I am using c80c72d of the master branch, I would have thought that the changes in fae1187 would have propagated through.  Here is the error I encounter:
[code]
CMake was called with
[code]
f18 builds just fine with `-DCMAKE_BUILD_TYPE=Debug" and passes all the tests.  A

[2020-03-04 16:53] benjaminfaber commented on #1048
This issue appears be fixed if I do not load the clang libraries and includes into my CPATH and LD_LIBRARY_PATH before issuing `make`.  I was able to successfully build the Release version with only the gcc-9.2.0 libraries and includes in my paths that were used to build clang initially.  I still specified `-DBUILD_WITH_CLANG=/opt/llvm/llvm-9.0.0/clang-9.0.0` in CMake build command, but the issue

[2020-03-04 16:53] #1048 closed

[2020-03-04 16:57] RichBarton-Arm commented on #768
Update in today's call: @sscalpone has tested GCC 7.2+ on Power and x86 with no issues.
Now waiting for #969 to land before continuing on Clang versions.

[2020-03-04 23:57] #1042 closed

[2020-03-05 11:04] DavidTruby commented on #966
Hi Kiran, thanks for looking at this. At a glance I think we can replace our die function with something like the following:
[code]
and then get rid of our DIE macro. Do you think something like this could work?

As regards the other point, I can't see why the file and line information wouldn't always be useful, so I don't think we need the distinction between the two.

[2020-03-05 11:44] RichBarton-Arm commented on #964
Progressing under #1047

[2020-03-05 13:40] #1034 closed

[2020-03-05 14:52] #1005 closed

[2020-03-06 00:27] davis-matthew opened #1049 "System Requirements to build F18?"
What are the basic system requirements expected to build F18?

I have 10.7 GB RAM and 1.4GB swap on a 64-bit ubuntu virtual machine and running `make` uses up all of my available memory and fails on building fortranevaluate.

Is this amount of memory usage expected, and if so, about how much more do you think I will need to allocate in order to successfully build?

[2020-03-06 07:37] #990 closed

[2020-03-06 11:25] jeanPerier commented on #1049
With 10 Gb ram you should be able to build it but should avoid parallel builds (Try explicitly using make -j1).  I do not know which linker you are using, but if you are running into memory exhaustion during link-time, please consider using a different linker such as lld from LLVM or GNU gold.

[2020-03-06 16:07] LukeIreland1 opened #1052 "Convert Preprocessing tests to lit"
Preprocessing tests need to be converted to run with lit, like the other Fortran tests.

[2020-03-08 14:27] LKedward opened #1054 "Dummy arguments of separate (sub) module procedure not declared"
[code]

This is giving semantic error:
[code]

[2020-03-09 16:33] RichBarton-Arm opened #1055 "Align with LLVM issue handling"
LLVM uses bugzilla - https://bugs.llvm.org/ for issue tracking. It has been mooted - http://lists.llvm.org/pipermail/llvm-dev/2019-October/136162.html - that LLVM move to github issues. In fact, github issues is open for creating new issues.

We need to decide what to do about F18 issues. We should align with the LLVM project as much as we can, but we probably have some leeway in the short term to

[2020-03-09 16:34] RichBarton-Arm opened #1056 "Align with LLVM on project tracking"
We use the F18 project's GitHub boards for co-ordinating work. LLVM don't currently use this feature. We should encourage them to enable it for us and port our boards over. Otherwise, we should try and standardize with whatever LLVM use instead.

[2020-03-10 10:38] kiranktp commented on #966
Thanks @DavidTruby. Your code was almost perfect. :-)
I have replaced DIE with llvm_unreachable and raised a pull request.

[2020-03-10 13:44] h-vetinari opened #1058 "Fortran 2018 implementation status"
I'm wondering what's the state of the Fortran 2018 implementation (very high-level tracking like [gcc's status page](https://gcc.gnu.org/wiki/Fortran2018Status)). Maybe such a tracker already exists, but is not public? Maybe - as the name suggests 😉 - it's already (almost) finished?

I haven't [found](https://github.com/flang-compiler/f18/search?q=2018) such an overview except some more granular [

[2020-03-10 14:50] h-vetinari commented on #876
Has the name *after* merging been discussed/decided?

The posts on the llvm mailing list (last thread [here](http://lists.llvm.org/pipermail/llvm-dev/2020-February/139378.html)) are always titled (my emphasis) "_flang_ landing in the monorepo", while clearly talking about [f18](https://github.com/flang-compiler/f18) and not [flang](https://github.com/flang-compiler/flang).

My question is whether

[2020-03-11 20:21] #1007 closed

[2020-03-12 07:40] isuruf opened #1064 "strerror_r is not platform independent"
See https://github.com/llvm/llvm-project/blob/3b984641a73780cac80c04610158c8167a8a786c/llvm/lib/Support/Errno.cpp for some code that works in windows.

cc @klausler

[2020-03-13 11:35] RichBarton-Arm commented on #768
#1059 has fixed this problem for us. :-)

[2020-03-13 11:36] RichBarton-Arm commented on #986
Update in call on 09th March: @sscalpone has tested GCC 7.2+ on Power and x86 with no issues.
Now waiting for #969 to land before continuing on Clang versions.

[2020-03-13 13:33] clementval commented on #1055
Some LLVM subproject use the GitHub issues so I guess there shouldn't be a problem for f18 to use them as well.

[2020-03-13 20:39] naromero77 opened #1074 "scalar argument may not be associated with a dummy argument"
This code snippet is extracted from a much large DOE code. It compiles with gfortran, pgi, (old) flang, but f18 gives:
[code]

I am copying and pasting the code below:
[code]

[2020-03-16 08:55] LKedward commented on #1074
I believe the type of `command_c` here is incorrect. It should be an array of c interoperable characters (see in your interface definition for `system`), as opposed to a Fortran string.

Change:
[code]
to:
[code]

You will then have to copy the strings a character at a time I think, see [s2c](https://github.com/urbanjost/M_strings/blob/9806b1ae68b054a30aec7e321c506a79ab0435df/src/M_strings.f90#L33

[2020-03-17 17:11] naromero77 commented on #1074
Thanks for looking at the reduced test case. I have verified that your modified code works with Intel, Gfortran, and f18 compilers. At the moment, I cannot compile the full DOE science app because of this unrelated issue:
https://github.com/flang-compiler/f18/issues/1020

Let us leave the issue open for now until I can get the application developer to fix it their code. But I will close it as soon

[2020-03-17 18:26] naromero77 opened #1077 "support for dfloat function, extension or standard?"
This `dfloat` intrinsic function appears frequently in a DOE code. Here is a reduced test case that shows a canonical example of how it is used:
[code]

Is this part of the Fortran standard or an extension?
https://gcc.gnu.org/onlinedocs/gcc-4.4.1/gfortran/DFLOAT.html
https://software.intel.com/en-us/fortran-compiler-developer-guide-and-reference-dfloat

Is this really even necessary to have such

[2020-03-17 20:46] bcfriesen opened #1079 "f18 build failure: "type 'const parser::DoConstruct *' cannot be narrowed to 'bool' in initializer list""
Hi,

a buildbot at NERSC choked on the following warning (upgraded to error with `-Werror`) when compiling f18 from a development version of clang 11:

[code]

The function in question is this one from `check-do-forall.cpp`:

[code]

The version of clang used to build f18:

[code]

[2020-03-17 23:18] naromero77 commented on #1074
Original code is fixed and test passing with multiple compilers.

[2020-03-17 23:18] #1074 closed

[2020-03-17 23:22] davis-matthew commented on #1049
Thanks for the help. I am no longer encountering the memory issue.

However, my build is still unsuccessful due to some problem with llvm. Is this potentially a version compatibility issue?

[ 16%] Built target FortranParser
[ 18%] Built target FortranDecimal
[ 33%] Built target FortranEvaluate
[ 34%] Built target FortranLower
Scanning dependencies of target FortranSemantics
[ 34%] Building CXX ob

[2020-03-18 00:00] tskeith commented on #1049
You may be using a version of LLVM that is too old. You should use the latest on the `f18` branch.

`llvm::sys::fs::file_t` is defined in `llvm/Support/FileSystem.h`.

[2020-03-18 01:54] #1054 closed

[2020-03-19 01:48] davis-matthew commented on #1049
I have now produced a build script for review in order to make sure I am doing the steps properly (assume $FLANG_HOME is the PWD where f18 is being installed)

cd f18
###########################
##LLVM####################
###########################
git clone --depth=1 -b f18 https://github.com/flang-compiler/f18-llvm-project.git
cd f18-llvm-project
mkdir build && cd build
cmake -G "Unix Makefiles

[2020-03-19 02:49] tskeith commented on #1049
You need to point LLVM_DIR at your install directory, not build. For some reason that is the way to find mlir.

But llvm-lit isn't installed, so you also need to point -DLLVM_EXTERNAL_LIT at llvm-lit in the build directory to be able to run tests.

[2020-03-19 08:42] jabl opened #1082 "Make hidden character length argument of type size_t"
By looking at https://github.com/flang-compiler/f18/blob/master/documentation/Calls.md I couldn't figure out how f18 passes the hidden character length argument which is needed to handle `CHARACTER(LEN=*)` dummy arguments. So maybe my worry is unnecessary.

I would recommend f18 to pass the hidden character length argument as a C `size_t` type (or in Fortran lingo, `INTEGER(kind=C_SIZE_T)` ). This

[2020-03-19 14:44] davis-matthew commented on #1049
Thank you, I am now able to build f18 successfully with those fixes.

[2020-03-19 14:44] #1049 closed

[2020-03-24 14:55] #840 closed

[2020-03-25 19:38] #1079 closed

[2020-03-27 17:13] jeanPerier opened #1091 "Substring are transformed into reference to the whole string"
[code]
f18 -funparse:
[code]

If I add `PARAMETER` to `c`, the output becomes` PRINT *, "abcde"` which is also wrong.

[2020-03-27 17:24] ChinouneMehdi opened #1092 "Can't build shared libraries."
I tried to build f18 using this configuration:
[code]
``/opt/f18``` is where I installed llvm+mlir.
I got this error:
[code]
the error doesn't occur when "BUILD_SHARED_LIBS" is not set or "-DBUILD_SHARED_LIBS=OFF"

[2020-03-27 17:46] ChinouneMehdi commented on #1092
Another issue, even with "-DBUILD_SHARED_LIBS=OFF" I got errors when the compiler try to build executables like "tco", "f18-parse-demo"...
[code]

[code]
I think that was because I built llvm+mlir with "-DBUILD_SHARED_LIBS=ON"

[2020-03-27 18:29] klausler commented on #1077
`DFLOAT` is not a standard intrinsic procedure of Fortran.  `DBLE(n)` and REAL(n,KIND=KIND(0.0d0))` are standard equivalents for integer `n`; so is `(0.0d0+(n))`.  We'll probably support `DFLOAT` in f18 for better portability, but new code should avoid it.

[2020-03-27 21:14] klausler commented on #1016
The use of `else` after `return` in f18 is, in most instances, quite intentional.

f18 source avoids `else` after `return` when the `return` is handling an exceptional or error case that obviates the remainder of the sequence, and the corresponding `if` is not `constexpr`.  These cases include most (all?) instances where the `return` statements have no expressions.

Where the `if` condition is `co

[2020-03-27 21:25] klausler commented on #1091
PR #1093.

[2020-03-27 22:38] klausler commented on #1091
Should now be fixed; please close when convenient if so.

[2020-03-28 22:09] sscalpone commented on #966
We must not conflate assertion checks with unreachable code in llvm because llvm makes a distinction between `assert` and `llvm_unreachable`.

See https://llvm.org/docs/CodingStandards.html#id42

LLVM disables the `assert` and `llvm_unreachable` checks in RELEASE builds. As far as I know, re-enabling `assert` in a RELEASE build requires a bit of ingenuity.

I think it is better not to use `assert`

[2020-03-28 22:13] sscalpone commented on #1092
We are waiting for https://reviews.llvm.org/D73653

[2020-03-28 22:20] DavidTruby commented on #966
I believe CMake's RelWithDebugInfo build type leaves assets on? That should help with debugging optimised builds if so.

The advantage of using llvm_unreachable and assert is they both use compiler specific macros/intrinsics to signal Undefined Behaviour. This allows extra compiler optimisations in some cases (e.g. not bothering to generate code for an unreachable case, as an obvious example)

[2020-03-28 22:23] DavidTruby commented on #966
What I said seems to be untrue, RelWithDebInfo still has -DNDEBUG. However, LLVM does have an LLVM_ENABLE_ASSERTIONS variable in cmake to force both `assert` and `llvm_unreachable` on in any build configuration, and that can be used in conjunciton with Release builds.

[2020-03-28 22:28] #1040 closed

[2020-03-28 23:00] sscalpone commented on #1015
Are we agreed that a single statement `if` that is not on a single line must use braces?

https://medium.com/@jonathanabrams/single-line-if-statements-2565c62ff492

[2020-03-28 23:23] sscalpone commented on #966
The idea is to enable flang assertion checking without enabling everything that controlled by NDEBUG.

[2020-03-28 23:26] sscalpone commented on #966
Also, unless potential undefined behavior is intended, we ought to leave assertions and checks for unreachable code enabled all the time.  We might consider adopting something like Rust's debug_assert.

[2020-03-29 00:46] #1064 closed

[2020-03-29 01:23] DavidTruby commented on #966
Doesn't `debug_assert` in Rust do the same thing as `assert` here? As in, it gets disabled in optimised/release builds?

It's not so much that potential UB is intended as it is that it allows extra interesting optimisations for the compiler to take advantage of. I don't see a reason we wouldn't want these optimisations to occur in Release/optimised builds?

[2020-03-29 02:46] sscalpone commented on #966
Yes, Rust's `debug_assert` does what `std::assert` does and Rust's `assert` is checked for both debug and release builds.

Assuming that we _want_ the assertion checks, what the issue with optz?

[2020-03-30 14:46] jeanPerier commented on #1091
Thanks ! I could test that the fix solved my issue.

[2020-03-30 14:46] #1091 closed

[2020-03-30 16:34] klausler commented on #1082
Yes, of course.  The `elem_len` field of the descriptor is `size_t`, and so will the hidden length arguments be for procedures not requiring interfaces.

[2020-03-30 16:34] #1082 closed

[2020-03-30 18:19] eugeneswalker commented on #1058
I'm also interested in this!

[2020-03-30 18:30] kiranchandramohan commented on #1058
Various parts of the compiler are in different stages of the completion. A horizontal implementation approach was chosen, hence it will not be possible to provide a status page for Fortran 2018. But the implementation is based on the Fortran 2018 standard.

The following status is based on my observation as a member of the Flang/F18 community. Someone else might be able to provide a better answer.

[2020-03-30 19:03] DavidTruby commented on #1092
Does MLIR now support building with shared libraries? The reason I didn't get this working when merging the changed CMake files is that at the time it didn't, but perhaps that has been fixed now?

[2020-03-30 19:41] tskeith commented on #966
`CHECK` and `DIE` are intended to be enabled in release builds. `std::assert` and `llvm_unreachable` are available for when you want them disabled in release builds.

To change existing use of the former to the latter we need to make the case that the performance and size benefits are greater than the debugging benefits.

[2020-03-30 19:41] ChinouneMehdi commented on #1092
I didn't get any error when building llvm+mlir with shared libraries.

[2020-03-30 19:45] sscalpone commented on #1092
Anecdotally, I heard mlir would fail with an initialization error when used as shared libraries.  @ChinouneMehdi Can you confirm that f18 is working ok with mlir shared libraries?

[2020-03-30 20:12] DavidTruby commented on #966
Do we need _users_ to be able to use these for debugging? Because, as developers we could just build with -DLLVM_ENABLE_ASSERTIONS and test with that in release mode (which is what we already do in our CI downstream for what it's worth)

[2020-03-30 21:16] tskeith commented on #966
We want them enabled so that when users hit them they get a clear indication that it is an internal error and information that is helpful to us about where it happened.

[2020-03-31 07:00] ChinouneMehdi commented on #1092
@sscalpone All the tests pass when building f18 with mlir shared libraries.

[2020-03-31 07:34] kiranchandramohan commented on #1055
Github issues in llvm-project is temporarily disabled until the switch from Bugzilla to github (soon?).
http://lists.llvm.org/pipermail/llvm-dev/2020-March/140129.html

[2020-03-31 12:02] DavidTruby commented on #966
Ah, I see what you mean now. I agree that there's a difference between `assert` and unreachable code, and also that there's a difference between something we want to use `assert` for and an ICE that a user might hit. However, I think that a lot of the cases in the PR that @kiranktp had up before fall into the former category.

We're currently lumping both "function preconditions that we expect tes

[2020-04-02 17:43] Sameeranjoshi commented on #967
#1065

[2020-04-02 22:53] naromero77 commented on #1077
Thanks for clarifying the correct way to do this. So far, I have only encountered this construct in one DOE code -- a rather old one at that.

If we are prioritizing non-standard extensions, it would be more important to get this one implemented `sizeof`:
https://github.com/flang-compiler/f18/issues/1020

As now I have found several DOE codes that make use of it.

[2020-04-03 13:30] h-vetinari commented on #1058
Thanks for the answer. I don't understand what you mean with the above. Horizontal or not, either a given feature is either done or not...? And from the list of features (or changes) from F2008 to F2018, one could record what's still open (or partially done / WIP / etc.).

But OK, maybe it's too early in the process to have a list like that, and all the bits and pieces need to move into place firs

[2020-04-03 15:55] kiranchandramohan commented on #1058
At the moment everything is a work in progress since there is no FIR/LLVM codegen in the master branch. So we can only mark all features as in progress.
Yes, you are right that it is a bit early to have a list like that.

[2020-04-03 16:13] eugeneswalker commented on #1058
I had heard the plan was to get f18 merged into llvm by end-of-April. Is this incorrect? Is there a target date for this?

[2020-04-03 16:22] kiranchandramohan commented on #1058
I believe it is mostly ready for the llvm merge. The date will hopefully be fixed during the Flang/F18 community call on Monday.
If you are interested, the call details are below. Copied from Gary's biweekly minutes.
"Hal Finkel hosts this call on Bluejeans, Mondays 8:30 Pacific Time, on the weeks alternating with regular Flang biweekly call. The notes for all these calls can be found in Google Do

[2020-04-07 04:33] joker-eph commented on #966
LLVM has `report_fatal_error` for this, does it match your "DIE" use case?

Anyone can ship an LLVM toolchain with LLVM_ENABLE_ASSERTIONS=ON ;)

[2020-04-07 10:32] kiranchandramohan opened #1103 "Construct names check misses inclusive scope rule"
For the program given below (or a similar program where block with name lp replaced by do loops) f18 does not detect the semantic error that a scope cannot have constructs with the same name.

[code]

Construct names are local identifiers and scope of local identifiers include the scopes in nested block constructs. And names cannot clash in the same scope. The relevant portion of Fortran 2018 stan

[2020-04-07 18:37] dwblaikie commented on #966
So, LLVM's philosophy here is:
1) if this is an invariant that represents a programmer error (something that should be fixed by changing some source code - either inside or (if using LLVM as a library) outside LLVM) if it fails - use assert and llvm_unreachable (llvm_unreachable is described in the LLVM developer guide as "a better assert(false)")
2) if this is a runtime error meant to be handled

[2020-04-07 19:18] DavidTruby commented on #966
@dwblaikie thanks for your advice here! I am willing to commit myself to take a much deeper look at error handling as a first priority post-merge; but I think it'll be much easier to do then than before merging. Once we're on the same infrastructure it will be easier to attract reviewers from the whole LLVM community, and getting changes committed in line with what that community wants should be a

[2020-04-07 19:29] dwblaikie commented on #966
The state of the code is less important to me than the agreement of the f18/flang community - it's something I think as a community it should be clear agreement going into this.

[2020-04-07 19:36] sscalpone commented on #966
There was an objection to replacing unreachable code with assert instead of llvm_unreachable.  I believe we're on the same page about llvm_unreachable for things like unhandled cases.

There's still discussion about how to represent runtime checks that we want to always be enabled, with or without NDEBUG.  NDEBUG is a big hammer that I would prefer be independent of low-cost runtime checks, like n

[2020-04-07 19:56] dwblaikie commented on #966
Yeah, that would be  a divergence from the LLVM project that I wouldn't be comfortable with. LLVM asserts liberally for even low-cost checks like null pointers & I believe that's the right call. (LLVM does have a layer beyond asserts - "expensive checks" for the really expensive things, but even enabling the non-expensive checks is more expensive than you'd want in release builds)

[2020-04-07 19:57] dwblaikie commented on #966
This is the LLVM style guide's wording on assertions: https://llvm.org/docs/CodingStandards.html#assert-liberally - the examples show fairly cheap tests.

[2020-04-07 20:00] DavidTruby commented on #966
@sscalpone at least according the to the C++ standard, NDEBUG does nothing other than enable the assert macro. What other behaviour are you expecting from it that makes it a big hammer?

[2020-04-07 21:07] #1092 closed

[2020-04-07 21:29] DavidTruby commented on #1092
Hi, why have you closed this? Is the problem resolved now?

[2020-04-07 22:44] tskeith commented on #966
I think I'm missing something here. You're not comfortable with flang containing runtime checks in release builds? Why?

[2020-04-07 23:06] dwblaikie commented on #966
Runtime checks for invariants, yes - because it's not consistent with the LLVM style guide/way of writing code. (& because I agree with it - and I think it's important to not treat invariant violations the same as user errors - in part because testing is very different, you don't write test cases to demonstrate invariant violations, but you should have test cases for every user error, for instance

[2020-04-07 23:08] sscalpone commented on #966
A lot of code uses NDEBUG to disable runtime checks.  There are over 1300 instances in llvm-project.  Not all of these are low-cost.

The Rust language deals with the issue head on: asserts are checked in debug and release builds, and cannot be disabled; debug_assert is not enabled in release builds by default.  I'm not suggesting that llvm adopt these semantics for assert, but instead suggesting

[2020-04-07 23:13] tskeith commented on #966
So the requirement is for undefined behavior rather than abort with a message when an invariant is not satisfied? That makes no sense.

[2020-04-07 23:15] dwblaikie commented on #966
Makes a fair bit of sense to the rest of the LLVM project, and I'd not be comfortable with flang being different in this regard.

The requirement is to be able to opt-in to invariant checking, not having it always-on.

[2020-04-07 23:25] sscalpone commented on #966
@dwblaikie How would you feel if that opt-in was not directly controlled by NDEBUG?

[2020-04-07 23:27] DavidTruby commented on #966
I would argue this is a bug in LLVM that should be fixed if such a thing is a problem.

I'm of the opinion that flang should not define _anything_ of its own where an equivalent way of doing things exists in LLVM or in LLVM's coding guidelines; we are (aspiring to be?) a part of the LLVM project and as such should do things the way the LLVM project expects them to be done.

If the NDEBUG issue is

[2020-04-07 23:27] joker-eph commented on #966
I am comfortable with your distribution of flang containing runtime checks: you just have to build it with -DLLVM_ENABLE_ASSERTIONS=ON

This is how LLVM works: you will be dependent on a lot of LLVM infrastructure (and MLIR) as well that have this behavior, you better review how you view the system as a whole.

Also, your sentence is a clear indication that you should always build with UBSAN: you

[2020-04-07 23:31] joker-eph commented on #966
If the only concerns is that LLVM would get too slow and you want to assert only in flang, that's possible: a cmake option `-DFLANG_ONLY_ASSERTIONS=ON` can turn off -DNDEBUG only when building the flang codebase and not when building LLVM/MLIR.

[2020-04-07 23:50] sscalpone commented on #966
I'm not against NDEBUG. I don't want to forestall the use of NDEBUG in flang. I don't want to ship production builds without NDEBUG.

I'd just like to allow for a low-cost runtime assertion checks in flang that are independent of NDEBUG.

I would love UBSAN if it was free :)

[2020-04-08 00:04] DavidTruby commented on #966
I'm not sure I understand what such assertion checks would be meant to solve;

Are they meant to be recoverable user errors? Then we should be using llvm::Error and other error handling mechanisms to resolve the errors properly.

Are they meant to be function invariants? Then we should use assert, and ask users to give us reproducers/give users assertion enabled builds at _that_ point so we can se

[2020-04-08 13:30] DavidTruby commented on #966
I've had a look at how clang handles this; what clang does is uses asserts etc as usual, but the driver has code such that when one of the compilation stages it reruns it with some extra logic to find out how the crash occurred. This seems like the solution we would want to finally adopt to me, however I think we're a way off having a driver sophisticated enough to do this.

I would like to propos

[2020-04-08 13:50] tskeith commented on #966
They are meant to be invariants. And because their cost is negligible we should leave them enabled so that users don't have to jump through extra hoops to see that they have been violated.

[2020-04-08 13:53] DavidTruby commented on #966
The ideal solution that I'm proposing we eventually move to (something like Clang's ICE reporting code) the user doesn't have to jump through any extra hoops, it's transparent to the person running the compiler.

[2020-04-08 14:14] tskeith commented on #966
I am completely in favor of moving to something better. I am only opposed to moving to something worse in the meantime.

[2020-04-08 14:23] DavidTruby commented on #966
I'm not proposing moving to something worse; llvm::report_fatal_error would be neither better nor worse than what we have now, but it would be a standard mechanism from the LLVM project. However, I'm not opposed to leaving the cases we really want invariants enabled all the time as-is now until we can get the Driver up to scratch to do the reporting properly in the way clang does.

[2020-04-08 20:52] psteinfeld opened #1106 "evaluate::AttachDeclaration() doesn't work with derived types defined in modules"
When a derived type is declared in a separate module file, the function
"evaluate::AttachDeclaration()" doesn't find the source provenance information
for the base derived type.

From what I can tell, it looks like the is no UseDetails information assoicated
with the symbol, and things go south from there.

I've attached three files -- m.f90.txt, which is the module that defines the
derived type,

[2020-04-08 21:16] DavidTruby commented on #966
On our bi-weekly call earlier, @sscalpone agreed with my above comment as a way forward. @dwblaikie and @joker-eph are you ok with us going ahead with the merge tomorrow on these terms?

[2020-04-08 22:59] sscalpone commented on #966
I agreed to non-controversial asserts and llvm_notreached, yes.

I don't see a problem using report_fatal_error() until the code adopts llvm::Error, if that's the recommended path.

[2020-04-08 23:25] dwblaikie commented on #966
llvm::Error isn't the recommended path for testing/reporting invariant violations (assert/unreachable is), to be clear - assert/unreachable is the tool for that. Any codepath with llvm::Error shuold be reachable/testable/tested via execution of the production binaries, or supported API surface area.

I think this might be do-able in advance cheaper than migrating things to llvm::report_fatal_error

[2020-04-09 00:26] sscalpone commented on #966
@dwblaikie Thank you for the tour of the existing mechanism.  Very helpful & not something that I've looked into yet besides a quick reading of the LLVM Programmer's Manual.

Is there a recommended way to implement checks for invariant violations in an RELEASE build?

If there is a ban on invariant checking of any kind in a release build, is this ban by fiat or related to an undesirable characteri

[2020-04-09 00:39] joker-eph commented on #966
My only concern at the moment is a meta-question that is raised by thread like this one, is my perception of the attitude displayed by @tskeith as fairly opposed to accepting to look at the system as a whole and trying to carve flang into an island with their own personal preference.
I'm not saying it is a blocker to merge flang, but I can definitely anticipate some frictions down the road.

Yes:

[2020-04-09 01:01] dwblaikie commented on #966
Generally agree to all that ^

Hmm, that seems quite different from my expectation. For the command line utilities, yeah, I'd expect to be able to fuzz the input files and command line without bounds. For an API - unbounded fuzzing doesn't seem appropriate, as APIs generally have contracts that need to be adhered to and aren't suitable for runtime error reporting (perhaps this is consistent with w

[2020-04-09 01:09] joker-eph commented on #966
Yes this is what I mean, there are obvious limitation to "fuzzing". To take a more practical LLVM/MLIR example: any IR should either fail the verifier or not trigger an assertion in a pass. You should be able to "fuzz" passes with any random IR with such principle. Here the public API for a pass is "any valid IR" and the verifier is the way to check it in a release build of the compiler.

[2020-04-09 02:32] sscalpone commented on #966
Enabling all debug code is not the desire.

For example, non-trivial NDEBUG code exists. E.g. /lib/CodeGen/GlobalISel/InstructionSelect.cpp.

Also, NDEBUG cannot generally be applied selectively to projects because some classes differ with/without NDEBUG, e.g. class LPMUpdater seems to be different with and without NDEBUG; it has an extra data member.

I'll give it a shot.

Is this use of report_f

[2020-04-09 03:05] dwblaikie commented on #966
In general - pretty much every report_fatal_error is a stop-gap.

That one in TypeBasedAliasAnalysis looks like it should be an assert, but I don't know too much about it - as Mehdi mentioned, the LLVM IR verifier should be used to enforce constraints like this (not sure what it's rules are no metadata - perhaps all metadata is considered verified & it's up to things that consume it to ignore it i

[2020-04-09 03:12] joker-eph commented on #966
This would be a bug: such checks that makes header incompatible are intended to be behind `-DLLVM_ABI_BREAKING_CHECKS=ON`.

This is true: the LLVM_DEBUG macros are also controlled by `-DNDEBUG`, I'd be OK with having a separate flags for these to be able to have an "assert" build that does not include the debug options.

I don't think so: I would expect this be in the IR verifier instead (and coul

[2020-04-09 03:28] joker-eph commented on #966
I should add that "expensive" assertions in LLVM are supposed to be not enabled by default in debug builds but only explicitly behind `-DLLVM_ENABLE_EXPENSIVE_CHECKS`. This is to keep everyone able to run `ninja check-all` reasonably fast enough during iterative development.

[2020-04-09 04:24] DavidTruby commented on #966
Could we add a DFLANG_ENABLE_ASSERTIONS that controls NDEBUG for flang so that it can be enabled just for flang code, and then use assert as the rest of the project does? How would people feel about that?

[2020-04-09 04:40] joker-eph commented on #966
That'd be quite reasonable I believe (I [mentioned it yesterday](https://github.com/flang-compiler/f18/issues/966#issuecomment-610669944) above actually).

[2020-04-09 04:51] dwblaikie commented on #966
I wouldn't feel great about it (sounds like it'd lead to divergence about the way assertions are used in flang/f18 compared to the rest of LLVM - for instance the line between asserts and expensive_checks might be quite different, adding friction for developers working across the project boundaries etc) , but it seems like the sort of thing that should be left up to the flang/f18 team/doesn't soun

[2020-04-09 05:14] sscalpone commented on #966
I'd rather make the case to the llvm community for a class of assertions that are independent of NDEBUG, perhaps controlled by FLANG_ENABLE_ASSERTIONS.

[2020-04-09 07:06] DavidTruby commented on #966
@sscalpone can we agree to do it this way for now so that we can go ahead with the merge in the mean time while you make your case to the community about the rest?

[2020-04-09 14:28] tskeith commented on #966
The problem with that is that in C++ there is no such thing as "just for flang code". If files in flang are compiled without -DNDEBUG it means that llvm include files are also compiled that way. Any asserts there that maybe shouldn't be on in a release build would be enabled.

It also seems to me it's a much bigger divergence from llvm to have assert mean something different in flang than it is to

[2020-04-09 14:32] DavidTruby commented on #966
I've posted to llvm-dev with my thoughts on NDEBUG and LLVM_ENABLE_ASSERTIONS: http://lists.llvm.org/pipermail/llvm-dev/2020-April/140798.html
In my opinion the ideal solution here would be to fix the usage of NDEBUG on the LLVM side and then use proper assertions in flang in the same way as elsewhere. Would that satisfy requirements?

I would really like this to not block the merge if possible, b

[2020-04-09 15:04] sscalpone commented on #966
I prefer to hash out a solution rather than agree to a half-measure. I don't think it's a blocker to resolve to continue the discussion after the merge in the monorepo.

[2020-04-09 16:00] joker-eph commented on #966
I think it is not a blocker as long as there is agreement that merging right now implies the LLVM ways of modeling assertions, and having a "release_assert" is something that you'll need to convince to change on llvm-dev@ later.

[2020-04-09 16:22] dwblaikie commented on #966
Given the long-standing/ongoing tension with the lldb project's different ideas about assertions by way of example - I'm unsure "let's upstream with this current disconnect & resolve it in-tree" is a solid strategy. There's prior experience that points to this sort of thing being an ongoing pain/unresolved issue.

[2020-04-09 17:41] RichBarton-Arm commented on #1055
@DavidTruby set us up on bugzilla - see https://bugs.llvm.org/describecomponents.cgi?product=flang

The LLVM project is still sorting out how to move to github issues but no ETA yet. We will migrate with the rest of the project.

[2020-04-09 17:42] #1055 closed

[2020-04-13 06:58] kalrainder opened #1108 "Cannot build Flang with latest LLVM"
Hi,

I just did an llvm build from source and here's what I hit. I am trying to build  projects "mlir;clang;openmp;flang".

Steps Followed:
- git clone https://github.com/llvm/llvm-project.git
- cmake -DLLVM_ENABLE_PROJECTS="mlir;clang;openmp;flang"  -DCMAKE_C_COMPILER=/usr/local/bin/gcc -DCMAKE_CXX_COMPILER=/usr/local/bin/g++ -G "Unix Makefiles" -DLLVM_USE_LINKER=gold -DCMAKE_BUILD_TYPE=Debug ../

[2020-04-20 18:28] kiranchandramohan commented on #1103
https://github.com/banach-space is looking into this issue. @sscalpone Can this issue be assigned to him?

[2020-04-24 14:33] DavidTruby commented on #1056
I don't know that LLVM has an equivalent to this: Github project boards aren't enabled for llvm and I don't think Phabricator has an equivalent. Perhaps we should ask on llvm-dev if other people are using something else or if Github boards can be turned on on their side?

[2020-04-24 14:34] DavidTruby commented on #1052
@RichBarton-Arm is this complete?

[2020-04-24 14:38] DavidTruby commented on #1011
The f18 driver is intended to be temporary and a new driver based on the Clang driver code is currently being worked on. Perhaps we should keep an eye on this issue for the new driver?

[2020-04-24 14:39] DavidTruby commented on #986
I believe this is done, as reflected on the project board. @RichBarton-Arm can you close this?

[2020-04-24 16:19] RichBarton-Arm commented on #986
Agree that this is complete.

[2020-04-24 16:19] #986 closed

[2020-04-24 16:25] RichBarton-Arm commented on #1052
No, the tests in the test/Preprocessing directory are not ported to lit yet. These tests were never being run on F18 and we tell lit to ignore them right now.

The tests are execution tests, i.e. they build Fortran snippets that run and print Pass/Fail messages. Each test relies on some functionality from the preprocessor being correctly honoured in order for the Pass message to print.

It should

[2020-05-06 17:03] eugeneswalker commented on #1058
@kiranchandramohan Are the google docs you mention above available online somewhere for public access? I am interested in the status of f18 driver.

[2020-05-06 17:51] kiranchandramohan commented on #1058
Google docs can be accessed with the following link.
https://docs.google.com/document/d/1Z2U5UAtJ-Dag5wlMaLaW1KRmNgENNAYynJqLW2j2AZQ/edit#heading=h.vpxs8lkuxy79

@eugeneswalker You can find the latest discussion in the following review.
https://reviews.llvm.org/D79092

@h-vetinari can you close this issue if you are happy with the answer provided before?

[2020-05-07 12:30] h-vetinari commented on #1058
@kiranchandramohan
I understand that the project might not be ready to create such an overview of the F2018-compatibility yet, but I don't think that this means that this issue should automatically be closed? This is more a longterm goal - to track implementation status relative to the most current standard (even [after](https://wg5-fortran.org/f202x.html) F2018)...

[2020-05-20 07:59] Sameeranjoshi commented on #995
Hi @RichBarton-Arm is someone working on this currently?
I was in need of at least a basic framework for adding FIR gtest. By basic I mean the Cmake file changes, so we can run at least a single test.

[2020-05-20 08:01] Sameeranjoshi commented on #995
This ticket seems like we need a port of all unittests/ files into a gtest based framework, but given that there is no unittest framework using gtest, should we have that first?

[2020-05-20 09:31] RichBarton-Arm commented on #995
Hi @Sameeranjoshi
Currently there is nobody working on this so it is up for grabs.
Adding the gtest framework with a single test would definitely be a good start. We could then work on migration across from ctest to gtest once we have a target to aim at.
Please feel free to claim it and move it to in progress.

[2020-05-22 08:40] Sameeranjoshi commented on #995
https://reviews.llvm.org/D80377

[2020-06-17 08:00] RichBarton-Arm commented on #966
David has committed https://reviews.llvm.org/D79507 to help this along.

Still outstanding work to assess other uses of DIE in light of the above feedback on assertion usage.

[2020-06-17 08:01] RichBarton-Arm commented on #995
@Sameeranjoshi has committed https://reviews.llvm.org/D80377 which puts the infrastructure in place. All new tests can be added as gtest tests. We now need to port the existing tests over to this format.

[2020-06-17 08:03] RichBarton-Arm commented on #1019
@CarolineConcatto has added two Arm builders giving coverage for recent Clang and GCC builds on Arm.
http://lab.llvm.org:8011/builders/flang-aarch64-ubuntu-clang
http://lab.llvm.org:8011/builders/flang-aarch64-ubuntu

[2020-06-24 08:37] RichBarton-Arm commented on #1056
Agree with previous comment from David. LLVM has no central way to track community projects. We are using a shared [google sheet](https://docs.google.com/spreadsheets/d/1FvHPuSkGbl4mQZRAwCIndvQx9dQboffiD-xD0oqxgU0/edit#gid=633708027) and we are also using github projects in the flang-compiler github. This is fine for now, so closing this ticket.

[2020-06-24 08:37] #1056 closed

[2020-06-24 08:42] banach-space commented on #1056
@RichBarton-Arm Just as an FYI, this is used for tracking OpenMP progress in Clang: https://clang.llvm.org/docs/OpenMPSupport.html

[2021-03-04 16:18] banach-space commented on #995
A fresh patch in this direction: https://reviews.llvm.org/D97403

Thank you @ashermancinelli!

[2021-05-17 13:17] Romendakil opened #1110 "Flang rejects valid code"
The following code below is valid and falsely rejected with the error message
exceptions.f90:19:9: error: 'array=' argument has unacceptable rank 0
      i = sum (maxloc (excs%level))
          ^^^^^^^^^^^^^^^^^^^^^^^^^
/opt/local/libexec/llvm-11/bin/f18: semantic errors in exceptions.f90

(v11.1.0 on Darwin Big Sur)

[code]

[2021-07-18 12:26] Beliavsky opened #1111 "Link to code is broken"
In the Readme.md, the link to https://github.com/flang-compiler/f18/issues/new does not work.

[2021-07-30 16:48] banach-space commented on #995
https://reviews.llvm.org/D105315 concludes the porting of `flang/unittests/Runtime`. Massive thank you to @ashermancinelli for the enormous effort!

We still need to port `flang/unittests/Decimal` and `flang/unittests/Evaluate`. Please volunteer :)

[2021-11-11 17:14] #996 closed

[2021-11-11 17:14] RichBarton-Arm commented on #1017
Lots of builders on zorg now.

[2021-11-11 17:21] RichBarton-Arm commented on #996
Ivan Zechev ported the rest of the tests over to Python - see https://reviews.llvm.org/rGdc453dcf760e6d558da3a4d7fff301baa5f37aba for last commit in the series.

[2021-12-10 10:56] jeffhammond commented on #1111
i tried just now and it works for me.  are you still seeing this?

[2022-09-19 04:34] yurivict opened #1114 "error: type 'Fortran::semantics::Symbols<1024>::blockType' (aka 'array<Fortran::semantics::Symbol, 1024UL>') does not provide a subscript operator"
[code]

Version: 20191019 (rev. 1688bef)
OS: FreeBSD 13.1
Log URL: http://beefy16.nyi.freebsd.org/data/131amd64-default/c1b60f972738/logs/errors/f18-g20191019_1.log (IPv6 URL)